@import "@edx/paragon/scss/core/core";

.course-list-column {
  padding: 0 map-get($spacers, 4);
  overflow: visible !important;
}

.sidebar-column {
  padding: 0 map-get($spacers, 3) 0 map-get($spacers, 1);
}

@include media-breakpoint-down(lg) {
  .sidebar-column {
    // grid are inheriting dir="ltr" from the body, so we need to override it
    [dir=ltr] & {
      padding: 0 map-get($spacers, 3);
    }
    [dir=rtl] & {
      padding: 0 map-get($spacers, 3);
    }
  }
}

.container-fluid{
  width: 100%;
  padding-right: 115px !important; // Outer padding for main content to show 3 coards in each container
  padding-left: 115px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  overflow: visible !important;
}